[submodule "proto"]
	path = proto
	url = https://github.com/herd-fhe/herd_proto
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "third-party/libpaseto"]
	path = third-party/libpaseto
	url = https://github.com/authenticvision/libpaseto
[submodule "common"]
	path = common
	url = https://github.com/herd-fhe/herd_common.git
[submodule "mappers"]
	path = mappers
	url = https://github.com/herd-fhe/dto_mappers.git
